.mainarea {
    background: #121212;
    display: flex;

    .mainarea_right {
        height: 100vh;
        width: 50%;
        gap: 1%;
        display: flex;
        background: #121212;
        flex-direction: column;
        margin-left: 1%;

        .container_remotevideo {
            width: 689px;
            height: 376px;
            border-radius: 11px;
            border: 1px solid #000;
            background: #656565;
            overflow: hidden;

            .remotevideo {
                width: 691px;
                height: 388px;
            }
        }

        .container_uservideo {
            width: 690px;
            height: 376px;
            border-radius: 11px;
            border: 1px solid #000;
            background: #656565;
            overflow: hidden;

            .uservideo {
                width: 692px;
                height: 388px;
            }
        }

        .container_funboard {
            width: 691px;
            height: 78px;
            border-radius: 13px;
            border: 1px solid #000;
            background: #000;

            .funboard {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 3px;

                .funboard_btn_autoskip {
                    width: 156px;
                    height: 65px;
                    border-radius: 5px;
                    border: 2px solid rgba(255, 97, 97, 0.47);
                    background: #b60000;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "Courier New", Courier, monospace;
                    font-weight: bold;
                }

                .funboard_btn_scrshare {
                    width: 156px;
                    height: 65px;
                    border-radius: 5px;
                    border: 1px solid #717171;
                    background: #012b96;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .funboard_btn_memeboard {
                    width: 156px;
                    height: 65px;
                    border-radius: 5px;
                    border: 1px solid #717171;
                    background: #012b96;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .funboard_btn_sndboard {
                    width: 156px;
                    height: 65px;
                    border-radius: 5px;
                    border: 1px solid #717171;
                    background: #012b96;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .mainarea_left {
        height: 100vh;
        width: 80%;
        gap: 1%;
        display: flex;
        background: #121212;
        flex-direction: column;
        margin-right: 1%;

        .chatarea {
            height: 82%;
            width: 100%;
            background-color: #012b9600;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .chatview {
                width: 1117px;
                height: 749px;
                border-radius: 10px;
                border: 3px solid #907e7e;
                background: #171717;
            }

            // .chat_enter_area {
            //     background-color: red;
            //     width: 1117px;
            //     height: 86px;

            // }
        }
    }
}

.chat_enter_area {
    width: 1123px;
    height: 75px;
    background-color: rgba(172, 255, 47, 0);
    padding: 10px;
    padding-left: 10px;

    .chattype {
        border-radius: 12px;
        border: 1px solid #000;
        background: #1b1b1b;
        width: 1127px;
        height: 74px;
        gap: 1%;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 1060px;
            height: 40px;
            border-radius: 12px;
            margin-left: 10px;
            border: 1px solid #000;
            background: #fcf9f900;
            padding: 10px;
            color: #fff;
            
        }

        .btn_sendchat {
            width: 203px;
            height: 64px;
            margin-right: 10px;
            border-radius: 7px;
            border: 2px solid #155793;
            background: #052880;
        }
    }
}
